.bod {
    background-color: aliceblue;
}

#ajout {
    color: rgb(237, 95, 0);
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list {
    background-color: rgb(32, 143, 235);
    border-radius: 4%;
    box-shadow: 0px 1px 1px #333;
}

.list li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #777;
}

.list img {
    border-radius: 30px;
    box-shadow: 0px 0px 10px #888;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
